<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CarLX</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="/style.css">

    <link rel="stylesheet" href="/popup.css" />
    <script src='/popup.js'></script>
    <script src="/lang.js"></script>

</head>

<body>

    <nav class="bottom-nav">

        <h2 style="float: left;">Car<span class="logo">LX</span></h2>

        <p style="position: absolute; left: 150px; top: 28px; font-size: x-small;"><a onclick="en()" class="langtoggle">English</a> | عربي</p>

        <ul class="nav justify-content-end">
          <% if (!user._id) { %>
            <li class="nav-item">
                <a class="nav-link atshy" onclick="regopenForm()">انشأ حسابك الخاص</a>
            </li>
            <p style="position: relative; top: 8px;"><b>ليس لديك حساب؟ | </b></p>
            <li class="nav-item">
                <a class="nav-link atshy" onclick="logopenForm()">ادخل حسابك</a>
            </li>
          <%} else {%>

            <p style="position: relative; top: 8px;"> 
              <span style="right: 20px; position:relative;"><b> <%= user.name.split(' ')[0]%> </b><%=" ،اهلا"%></span>
         
              <a style="padding: 0px 10px;" href="/profile" ><i title="Profile" class="fa fa-2x fa-user" style="color: black;"></i></a>
              <a style="padding: 0px 10px;" href="/cars" ><i  title="View cars" class="fa fa-car fa-2x" style="color: black;"></i></a>
              <a style="padding: 0px 10px;" href="/addsale" ><i  title="Add car for sale" class="fa fa-2x fa-plus-circle" style="color: black;"></i></a>
              <a style="padding: 0px 10px;" href="/logout" ><i title="sign out" class="fa fa-2x fa-sign-out" style="color: black;"></i></a>

              </p>

          <%}%>
        </ul>
    </nav>

    <div class="container" style=" border-color: black; border-style: solid;">
        <div class="carousel slide" data-interval="3000" data-ride="carousel">
            <div class="carousel-inner carousel23">
                <div class="carousel-caption">
                    <h1 class="display-3" style="overflow: hidden;">اشتر و بع سيارتك</h1>
                    <h1 class="display-3" style="overflow: hidden;">في غمضة عين</h1>
                </div>
                <div class="carousel-item active">
                    <img class="w-100" src="/carousel11.jpg" alt="First slide">

                </div>
                <div class="carousel-item">
                    <img class="w-100" src="carousel22.jpg" alt="Second slide">
                </div>
                <div class="carousel-item">
                    <img class="w-100" src="/carousel33.jpg" alt="Third slide">
                </div>
                <div class="carousel-item">
                    <img class="w-100" src="/carousel44.jpg" alt="Fourth slide">
                </div>
                <div class="carousel-item">
                    <img class="w-100" src="/carousel55.jpg" alt="Fifth slide">
                </div>
            </div>
        </div>
    </div>

    <div style="width: 100%; text-align: center; padding-top: 5px;">


        <button onclick="search()" class="btn" style="background-color: black; color: white;"><i
            class="fa fa-search"></i></button>
        <input class="input11" type="text" id="search_bar" placeholder="بحث" name="search"
            style="position: relative; top: 2px; width: 50%; height: 40px;" />
        


    </div>

    <hr>

    <h4 style="position: relative; text-align: center; top: 30px;">الاكثر زيارة مؤخرا</h4>

    <div class="astrodivider">
        <div class="astrodividermask"></div><span><i>&#10038;</i></span>
    </div>

    <div class="bottom">
              <div>
                <% if (cars.length > 0) { var i = -1; %>
                    <% cars.forEach(car => { i++; %>
                        <% if (i%3 == 0){ %>
                            <div class="card-deck">
                        <% } %>
                                <div class="card" style="max-width: 450px;">
                                    
                                    <img class="card-img-top zoomer" src="data:car/<%=car.img1.contentType%>;base64,
                                    <%=car.img1.data.toString('base64')%>" alt="Card image cap" height="400px">
                                    <div class="card-body">

                                    <h5 class="card-title cardtitless"><%= car.brand + " " + car.name%></h5>
                                    </div>
                                    
                                </div>
                        <% if (i%3==2){ %>
                            </div>
                        <% } %>
                    <% }) %>
                <% } %>
    </div>

    <!-- div bta3et el sign in -->
    <div class="form-popup" id="signin">
      <form class="form-container">
        <button type="button" class="custombut" onclick="logcloseForm()">&#x2716</button>
        <h1 class="tpp">CarLX</h1>
    
        
        <input id="emailin" type="text" placeholder="ادخل عنوان البريد الالكتروني" name="email" required>
        <span class="verifin" id="emailverifin"></span><br>
      
        <input id="passin" type="password" placeholder="ادخل كلمة السر" name="psw" required>
        <span class="verifin" id="passverifin"></span><br>
        <button onclick="login()" class="btn">تسجيل دخول</button>
      </form>
    </div>
    
    
    <!-- div bta3et el signup -->
    <div class="form-popup" id="signup">
        <form class="form-container">
          <button type="button" class="custombut" onclick="regcloseForm()">X</button>
          <h1 class="tpp">CarLX</h1>
      
          <input  type="email" id="emailout" placeholder="ادخل عنوان البريد الالكتروني" name="email" required>
          <span class="verifout" id="emailverifout"></span><br>
          <input  type="password" id="passout" placeholder="ادخل كلمة السر" name="psw" required> 
          <span class="verifout" id="passverifout"></span><br>
          <input  type="text" placeholder="ادخل اسمك الاول" id='first' name="fn" required>
          
          <input  type="text" placeholder="ادخل اسمك الاخير" id='second' name="ln" required>
          <input  type="text" placeholder="ادخل رقم هاتفك" id='phone' name="pn" required>

          <select id="city"  name="city" required>
            <option value="Alexandria">الاسكندرية</option>
            <option value="Ismailia">الإسماعيلية</option>
            <option value="Aswan">أسوان</option>
            <option value="Asyut">أسيوط</option>
            <option value="Luxor">الأقصر</option>
            <option value="Red Sea">البحر الأحمر</option>
            <option value="Beheira">البحيرة</option>
            <option value="Beni Suef">بني سويف</option>
            <option value="Port Said">بورسعيد</option>
            <option value="South Sinai">جنوب سيناء</option>
            <option value="Giza">الجيزة</option>
            <option value="Cairo">القاهرة</option>
            <option value="Dakahlia">الدقهلية</option>
            <option value="Damietta">دمياط</option>
            <option value="Sohag">سوهاج</option>
            <option value="Suez">السويس</option>
            <option value="Sharqia">الشرقية</option>
            <option value="North Sinai">شمال سيناء</option>
            <option value="Faiyum">الفيوم</option>
            <option value="Gharbia">الغربية</option>
            <option value="Kafr El Sheikh">كفر الشيخ</option>
            <option value="Matruh">مطروح</option>
            <option value="Minya">المنيا</option>
            <option value="Monufia">المنوفية</option>
            <option value="New Valley">الوادي الجديد</option>
            <option value="Qalyubia">القليوبية</option>
            <option value="Qena">قنا</option>
          </select>
          
          <button onclick="reg()" class="btn">انشاء حساب</button>
        </form>
      </div>
     
      
    <!-- div bta3et el verify --> 
      <div class="form-popup" id="ver">
        <form class="form-container">
          <button type="button" class="custombut" onclick="vercloseForm()">X</button>
          <h1 class="tpp">CarLX</h1>
      
          <input  type="text" placeholder="ادخل رمز التفعيل المرسل لبريدك" name="code" id="verin" required>
          <span class="verifout" id="verifcode"></span><br>
          
          
          <button onclick="ver()" class="btn">تفعيل</button>
        </form>
      </div>

      <button title="الرجوع الى اول الصفحة" onclick="gotoTop()" id="myBtn" title="Go to top"><i class="fa fa-angle-up fa-2x"></i></button> 

      <script src="car_details.js"></script>
      
    <script>
      function search(){
          event.preventDefault();
          window.location = "http://localhost:3000/cars/".concat(document.getElementById("search_bar").value);
          return false;
      }
    </script>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>

</body>

</html>